.boxword
{
    text-align:center;
	width:200px;
	height:200px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:12px;
	display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
	background-color:#bbeffb;
	z-index: 1000000000000000000;
}

.textLeft
{
	text-align:left;
}

.boxContent
{
text-indent:15px;
background-color:#bbeffb;
height:100px;
overflow:hidden;
padding-right:13px;
padding-bottom:13px;
}
.textIndent
{
text-indent:15px;
}
.boxContentspan{
display:block;
	
}
#blockinline
{
display: inline;
}
.extraHeight
{
	height: 300px;
}
.reduceHeight
{
	height:40px;
}